body {
  width: 1000px;
  margin: 0 auto; /* set the selector to be centerd*/
}

header {
  width: 1000px;
  display: inline-block;
  border: 1px solid rgb(250, 154, 0);
}
nav {
  width: 1000px;
  display: inline-block;
  border: 1px solid rgb(255, 145, 0);
  background: rgb(243, 124, 6);
}
main {
  width: 1000px;
  display: inline-block;
  border: 1px solid rgb(255, 157, 0);
}
footer {
  width: 1000px;
  display: inline-block;
  border: 1px solid rgb(255, 157, 0);
}
.contain {
  width: 950px;
  display: inline-block;
  margin: 25px;
  border: 1px solid;
}
.prod_box {
  width: 300px;
  display: inline-block;
  margin: 4px;
  border: 1px solid;
}

.prod_pic {
  width: 100%;
  display: inline-block;
  /* border: 1px solid; */
}
.prod_price {
  width: 100%;
  display: inline-block;
  border: 1px solid;
  background: lightgray;
}

.formBox {
  width: 48%;
  display: inline-block;
  margin: 5px;
  border: 1px solid;
}